{% extends 'base.html.twig' %}

{% block title %}S'identifier{% endblock %}
        
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">{% endblock %}

{% block body %}

{{ include('fragment/nav.html.twig')}}


    <div class="margin-nav">
        
    </div>

    <h1>S'identifier</h1>

<form method="post" class="login">
<div class = "login-form">
     {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</div>
   
</form>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/Scripts/nav-hamburger.js') }}"></script>
<script src="{{ asset('assets/js/Scripts/nav-background.js') }}"></script>
{% endblock %}
